{% extends 'index.html'  %}

{% block content %}

<div>

<div id="SpeakerBio" class="container">
<div class="row">
<div class="col-sm-12">
<!-- BIO: 52653 -->
<div >
<h1><span class="fn">Isaac Neo </span></h1>
<h4><span class="fn">Bachelor of Business Administration, National University of Singapore (NUS B.B.A.) </span></h4>
<hr>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<img src="images/team-member/member2.jpg" title="Issac Neo "align="left" style="margin-right:20px; margin-bottom:50px" />
<div class="container">
<p><b>Areas of expertise:</b> Mathematics and Financial Accounting <br><br>

<b>Subjects taught:</b> Elementary Mathematics, Additional Mathematics and Principles of Accounting<br><br>


<b>Grades attained:</b> A for IP Year 4 Mathematics, A for H2 Mathematics at GCE ‘A’ Levels, A for Financial Accounting module in NUS Business School<br><br>


When Isaac was a secondary school student, he noticed that the education syllabus was shifting towards a trend of letting students take charge of their own learning. There was a real struggle there, because while the intention was as such, Isaac felt that there was no clear guidance nor coaching in aiding students to become self-sufficient.<br><br>

Isaac is now determined to help students avoid the unnecessary struggle that he has had to face growing up amidst the intense competition. Learning is a simple process - though not always easy. However, it helps to have a teacher like Isaac who will lighten up the atmosphere with his jokes that are occasionally funny. He tries his best.

</p>
</div>
<a href="/index.html#members" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> back to team members</a>
</div>
</div>
</div>


</div>


{% endblock %}
