{% extends 'index.html'  %}

{% block content %}

<div>

<div id="SpeakerBio" class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- BIO: 52653 -->
          <div >
            <h1><span class="fn">Catherine Koh</span></h1>
            <h4><span class="fn">Bachelor of Science in Biological Sciences, Nanyang Technological University (NTU B.Sc.)</span></h4>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img src="images/team-member/member1.jpg" title="Catherine Koh "align="left" style="margin-right:20px; margin-bottom:50px" />
          <div class="container">
            <p><b>Areas of expertise:</b> Sciences <br><br>
              <b>Subjects taught:</b> Lower secondary sciences, Biology and Chemistry<br><br>

              <b>Grades attained:</b> A for IP Year 4 Biology and Chem, A for H2 Biology at GCE ‘A’ Levels, A for Organic Chem module / A for Biochemistry module / A for Molecular & Cell Biology module in School of Biological Sciences<br><br>


              Catherine is able to breakdown complex science concepts into simpler manner that is easy for her students to comprehend. She is a strong believer of visual learning and supplements her teaching with videos to help her student visualise complex processes and reactions, which many students find hard to do so just by looking at still images from their books. <br><br>

              Besides just being a tutor to her students, Catherine maintains a close relationship with her students and their parents even beyond the classroom.
            </p>
          </div>
          <a href="/#members" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> back to team members</a>
        </div>
      </div>
    </div>


</div>


{% endblock %}
