{% extends 'index.html'  %}

{% block content %}

<div>


<div id="SpeakerBio" class="container">
<div class="row">
<div class="col-sm-12">
<!-- BIO: 52653 -->
<div >
<h1><span class="fn">Cherie Tan</span></h1>
<h4><span class="fn">Bachelor of Laws, Singapore Management University (SMU L.L.B)</span></h4>
<hr>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<img src="images/team-member/member3.jpg" title="Cherie Tan "align="left" style="margin-right:20px; margin-bottom:50px" />
<div class="container">
<p><b>Areas of expertise:</b> English and Humanities<br><br>

<b>Subjects taught:</b> English, Geography, History, Social Studies<br><br>


<b>Grades attained:</b> A1 for English / Geography / Literature / Social Studies at GCE ‘O’ Levels, A for H1 General Paper / H2 Geography / H2 Literature at GCE ‘A’ Levels. Also awarded the Top Student in Arts Stream for her performance at the ‘A’ Levels<br><br>


As a student, Cherie had always harboured a fervent passion for the English language and the Humanities. This passion has since translated into a love for teaching these subjects, and she is persistently dedicated to helping students cultivate a genuine interest and appreciation for the subjects before attempting to excel in them. Cherie also believes strongly in taking a skills-based approach rather than pure traditional rote learning, and seeks to transform her students into critical thinkers to give them an edge over their peers.<br><br>

Cherie believes that in every student lies the potential for him or her to succeed — and therefore often dedicates her time to establishing a strong rapport and connecting with her students, as it is her firm belief that the key to effective learning is trust and support.
</p>
</div>
<a href="index.html#members" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> back to team members</a>
</div>
</div>
</div>

</div>


{% endblock %}
